appdirs==1.4.4
asgiref==3.8.1
attrs==24.3.0
black==21.7b0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
cloudinary==1.42.2
Django==5.1.6
django-cloudinary-storage==0.3.0
django-cors-headers==4.7.0
django-debug-toolbar==3.2.1
django-extensions==3.1.5
django-extra-fields==3.0.2
django-filter==25.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-nested-routers==0.94.1
drf-spectacular==0.28.0
flake8==3.9.2
gunicorn==23.0.0
idna==3.10
inflection==0.5.1
iniconfig==2.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
mccabe==0.6.1
mypy==0.910
mypy_extensions==0.4.4
packaging==24.2
pathspec==0.12.1
pillow==11.0.0
pluggy==0.13.1
psycopg2==2.9.10
py==1.11.0
pycodestyle==2.7.0
pyflakes==2.3.1
PyJWT==2.10.1
pytest==6.2.4
pytest-django==4.5.2
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
rpds-py==0.22.3
six==1.17.0
sqlparse==0.5.3
toml==0.10.2
tomli==1.2.3
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.3.0
whitenoise==6.9.0
